doctype html
html(lang="ru")
    head
        include ../pug/template/head.pug
    body.bau
        div.page.other_page-wrapper
            include ../pug/template/lines.pug
            header.header.header_mobile
                include ../pug/template/header.pug
            main.main

                include ../pug/modules/bau_module.pug

                include ../pug/modules/next_project.pug

                .container
                    include ../pug/modules/contacts_mobile.pug

                include ../pug/modules/form.pug

                include ../pug/frontpage/share_menu.pug

        include ../pug/modules/mobile_footer.pug

        include ../pug/template/footer.pug
        include ../pug/template/footer_js.pug


