doctype html
html(lang="ru")
	head
		include ../pug/template/head.pug
	body
		div.page.main_page-wrapper
			include ../pug/template/lines.pug
			header.header
				include ../pug/template/header.pug
			main.main
				include ../pug/frontpage/content_main.pug
				
		include ../pug/frontpage/share_menu.pug

		include ../pug/modules/mobile_footer.pug

		include ../pug/template/footer.pug
		include ../pug/template/footer_js.pug

	
		