doctype html
html(lang="ru")
	head
		include ../pug/template/head.pug
	body
		div.page.other_page-wrapper
			include ../pug/template/lines.pug
			header.header.header_mobile
				include ../pug/template/header.pug
			main.main
				.page_name-wrapper
					.container
						.page_name
							h2(data-aos="fade-up") Работы
				include ../pug/modules/filter_tags.pug
				include ../pug/modules/projects.pug
				include ../pug/modules/form.pug
				include ../pug/modules/tags.pug
				.container
					include ../pug/modules/contacts_mobile.pug

				include ../pug/frontpage/share_menu.pug

		include ../pug/modules/mobile_footer.pug

		include ../pug/template/footer.pug
		include ../pug/template/footer_js.pug

	
		