
@font-face 
    font-family: 'Gotham Pro'
    src: url('../fonts/hinted-GothamPro.eot')
    src: url('../fonts/hinted-GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-GothamPro.woff2') format('woff2'),
    url('../fonts/hinted-GothamPro.woff') format('woff'),
    url('../fonts/hinted-GothamPro.ttf') format('truetype'),
    url('../fonts/hinted-GothamPro.svg#GothamPro') format('svg')
    font-weight: normal
    font-style: normal
        
@font-face 
    font-family: 'Gotham Pro Bold'
    src: url('../fonts/hinted-GothamPro-Bold.eot')
    src: url('../fonts/hinted-GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/hinted-GothamPro-Bold.woff') format('woff'),
    url('../fonts/hinted-GothamPro-Bold.ttf') format('truetype'),
    url('../fonts/hinted-GothamPro-Bold.svg#GothamPro-Bold') format('svg')
    font-weight: bold
    font-style: normal

@font-face 
    font-family: 'Gotham Pro Medium'
    src: url('../fonts/hinted-GothamPro-Medium.eot')
    src: url('../fonts/hinted-GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/hinted-GothamPro-Medium.woff') format('woff'),
    url('../fonts/hinted-GothamPro-Medium.ttf') format('truetype'),
    url('../fonts/hinted-GothamPro-Medium.svg#GothamPro-Medium') format('svg')
    font-weight: 500
    font-style: normal

@font-face 
    font-family: 'Gotham Pro Light'
    src: url('../fonts/hinted-GothamPro-Light.eot')
    src: url('../fonts/hinted-GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-GothamPro-Light.woff') format('woff'),
    url('../fonts/hinted-GothamPro-Light.ttf') format('truetype'),
    url('../fonts/hinted-GothamPro-Light.svg#GothamPro-Light') format('svg')
    font-weight: 300
    font-style: normal
    
@font-face 
    font-family: 'Gotham Pro Black'
    src: url('../fonts/hinted-GothamPro-Black.eot')
    src: url('../fonts/hinted-GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-GothamPro-Black.woff') format('woff'),
    url('../fonts/hinted-GothamPro-Black.ttf') format('truetype'),
    url('../fonts/hinted-GothamPro-Black.svg#GothamPro-Black') format('svg')
    font-weight: 900
    font-style: normal

@font-face 
    font-family: 'Helvetica Neue Ultra Light'
    src: url('../fonts/hinted-HelveticaNeue-UltraLight.eot')
    src: url('../fonts/hinted-HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-HelveticaNeue-UltraLight.woff') format('woff'),
    url('../fonts/hinted-HelveticaNeue-UltraLight.ttf') format('truetype'),
    url('../fonts/hinted-HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg')
    font-weight: 400
    font-style: normal