html
    width: 100%
    height: 100%
    // Устанавливает желаемый относительный размер шрифта */
    -webkit-text-size-adjust: 100%

body
    float: left
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    position: relative
    &::-webkit-scrollbar
        -webkit-appearance: none
        border-radius: 5px
    &::-webkit-scrollbar:vertical
        width: 2px
    &::-webkit-scrollbar-thumb
        border-radius: 2px
        border: none
        background-color: #CCC
        position: absolute
        right: 0
        top: 0
    &.fixed
        position: fixed
        overflow: hidden

::selection
    background: #000
    color: #fff

::-moz-selection
    background: #000
    color: #fff

article[role="main"]
    float: left
    width: 600px / 1200px * 100%

aside[role="complementary"]
    float: right
    width: 300px / 1200px * 100%
fieldset
    margin: 0
    padding: 0
    border: none
input,
textarea
    outline: none
    -webkit-box-shadow: none
    box-shadow: none
    -webkit-appearance: none
ul
    margin: 0
    padding: 0
    li
        list-style: none
p
    margin: 0
    padding: 0
a
    text-decoration: none
    cursor: pointer
*
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    box-sizing: border-box
    //-webkit-overflow-scrolling:touch
    margin: 0
    padding: 0
    outline: none
.nanobar
    width: 100%
    height: 4px
    z-index: 9999
    top: 0
    position: fixed
    left: 0
    @media (max-width: 992px)
        top: 44px  
    .bar
        width: 0
        height: 100%
        transition: height .3s
        background: #0096ff
.container
    +wrapper()
    @media (max-width: 920px)
        padding: 0 15px
.menu_button
    cursor: pointer
    height: 32px
    width: 43px
    border: none
    background: transparent
    border-radius: 0
    padding: 0
    position: relative
    right: auto
    top: 50px
    left: 50px
    transform: translateX(-50%) rotate(-90deg)
    opacity: 1
    visibility: visible
    transition: all .5s ease-in-out
    outline: none
    &.active
        span
            transition-delay: 0s
            background: transparent
            &:before
                transform: translate(-50%, -50%) rotate(45deg) scale(1)
                transition-delay: .25s
            &:after
                transform: translate(-50%, -50%) rotate(-45deg) scale(1)
                transition-delay: .25s
        &:before
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 0
            transition-delay: 0s
        &:after
            right: 50%
            transform: translate(50%, -50%)
            opacity: 0
            transition-delay: 0s
    &:before
        content: ''
        width: 8px
        height: 8px
        border-radius: 8px
        background: #7D868E
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0
        opacity: 1
        transition: all .25s ease-in-out
        transition-delay: .25s
    &:after
        content: ''
        width: 8px
        height: 8px
        border-radius: 8px
        background: #7D868E
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0
        opacity: 1
        transition: all .25s ease-in-out
        transition-delay: .25s
    span
        width: 8px
        height: 8px
        border-radius: 8px
        background: #7D868E
        transition: all .5s ease-in-out
        position: absolute
        left: 50%
        transform: translate(-50%, -50%)
        top: 50%
        transition-delay: .25s
        &:before
            content: ""
            width: 2px
            height: 28px
            background: #7D868E
            display: inline-block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%) rotate(45deg) scale(0)
            transition: all .25s ease-in-out
            transition-delay: 0s
        &:after
            content: ""
            width: 2px
            height: 28px
            background: #7D868E
            display: inline-block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%) rotate(-45deg) scale(0)
            transition: all .25s ease-in-out
            transition-delay: 0s     
.menu_button
    height: 32px
    width: 43px
    display: flex
    border: none
    background: transparent
    -webkit-border-radius: 0 
    border-radius: 0 
    padding: 0 
    -webkit-justify-content: space-between
    justify-content: space-between
    position: absolute
    right: auto
    top: 85px
    left: calc(((100vw - 940px)/2) - ((100vw - 940px)/4))
    -webkit-transform: translateX(-50%) rotate(-90deg) 
    -moz-transform: translateX(-50%) rotate(-90deg) 
    -ms-transform: translateX(-50%) rotate(-90deg) 
    -o-transform: translateX(-50%) rotate(-90deg) 
    transform: translateX(-50%) rotate(-90deg)
    opacity: 0
    visibility: hidden 
    -webkit-transition: all .5s ease-in-out 
    -moz-transition: all .5s ease-in-out 
    -ms-transition: all .5s ease-in-out 
    -o-transition: all .5s ease-in-out 
    transition: all .5s ease-in-out 
    @media (min-width: 1720px)
        left: 50px
    @media (max-width: 1100px)
        display: none !important
    &.fixed
        position: fixed
        top: 45px 
        opacity: 1
        visibility: visible
    span
        width: 8px 
        height: 8px
        -webkit-border-radius: 8px 
        border-radius: 8px 
        background: #7D868E 
        -webkit-justify-content: space-between
        justify-content: space-between
.main_page-wrapper,
.other_page-wrapper 
    +col-float()
    width: 100% 
    background: #FFF 
    position: relative
    padding-bottom: 150px 
    margin-bottom: 150px
    @media (max-width: 992px)
        padding-bottom: 45px 
        margin-bottom: 45px 
.share_menu 
    +col-float()
    min-width: 458px
    width: calc(100vh - 220px)
    height: 28px
    position: absolute
    top: 120vh
    right: 0
    padding-right: 35px 
    bottom: auto
    left: calc(((100vw - 940px)/2) - ((100vw - 940px)/4))
    display: flex
    -webkit-align-items: center
    align-items: center
    -webkit-align-content: center
    align-content: center
    -webkit-flex-direction: row-reverse
    -ms-flex-direction: row-reverse
    flex-direction: row-reverse
    -webkit-justify-content: space-between
    justify-content: space-between
    -webkit-transform: translateX(-50%) rotate(-90deg)
    -moz-transform: translateX(-50%) rotate(-90deg)
    -ms-transform: translateX(-50%) rotate(-90deg)
    -o-transform: translateX(-50%) rotate(-90deg)
    transform: translateX(-50%) rotate(-90deg)
    overflow: hidden
    @media (min-width: 1720px)
        left: 50px
    @media (max-width: 1100px)
        display: none !important
    &.fixed
        position: fixed
        top: auto
        bottom: 43%
        opacity: 1
        visibility: visible
        div
            &.left_menu  
                &.opened
                    opacity: 1
                    visibility: visible
                    -webkit-transform: translateX(0) 
                    -moz-transform: translateX(0) 
                    -ms-transform: translateX(0) 
                    -o-transform: translateX(0) 
                    transform: translateX(0)
                    -webkit-transition-delay: 0s 
                    -moz-transition-delay: 0s 
                    -ms-transition-delay: 0s 
                    -o-transition-delay: 0s 
                    transition-delay: 0s
                    &~.share_button 
                        a
                            opacity: 0
                            visibility: hidden
                            transition-delay: .5s
                    &~.behance_share 
                        a
                            opacity: 0
                            visibility: hidden
                            transition-delay: .5s
                    &~.logo_share 
                        a
                            opacity: 0
                            visibility: hidden
                            transition-delay: .5s
                    ul
                        li
                            -webkit-transform: translateX(0) 
                            -moz-transform: translateX(0) 
                            -ms-transform: translateX(0) 
                            -o-transform: translateX(0) 
                            transform: translateX(0)
                            opacity: 1
                            visibility: visible
                    .logo 
                        -webkit-transition-delay: 1s  
                        -moz-transition-delay: 1s 
                        -ms-transition-delay: 1s 
                        -o-transition-delay: 1s 
                        transition-delay: 1s 
                        opacity: 1 
                        -webkit-transform: translateX(0) 
                        -moz-transform: translateX(0) 
                        -ms-transform: translateX(0) 
                        -o-transform: translateX(0) 
                        transform: translateX(0)
                        svg
                            pointer-events: none
                            height: 20px 
                            .cls-1
                                fill: #7a8690
    div 
        float: left
        height: 28px 
        display: flex
        -webkit-align-items: center
        align-items: center
        -webkit-justify-content: space-between
        justify-content: space-between
        &.left_menu 
            z-index: 9 
            position: absolute
            top: 0
            right: 0
            bottom: auto
            -webkit-transform: translateX(100%) 
            -moz-transform: translateX(100%) 
            -ms-transform: translateX(100%) 
            -o-transform: translateX(100%) 
            transform: translateX(100%) 
            width: 100%
            height: 28px
            display: inline-block
            opacity: 0
            visibility: hidden
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out
            -webkit-flex-wrap: nowrap
            -ms-flex-wrap: nowrap
            flex-wrap: nowrap 
            -webkit-transition-delay: .5s 
            -moz-transition-delay: .5s 
            -ms-transition-delay: .5s 
            -o-transition-delay: .5s 
            transition-delay: .5s
            .logo 
                float: left
                position: relative
                z-index: 10 
                display: inline-block
                margin-right: 15px
                opacity: 0
                top: -2px 
                -webkit-transform: translateX(-100px) 
                -moz-transform: translateX(-100px) 
                -ms-transform: translateX(-100px) 
                -o-transform: translateX(-100px) 
                transform: translateX(-100px)
                -webkit-transition: all .5s ease-in-out 
                -moz-transition: all .5s ease-in-out 
                -ms-transition: all .5s ease-in-out 
                -o-transition: all .5s ease-in-out 
                transition: all .5s ease-in-out 
                -webkit-transition-delay: 0s 
                -moz-transition-delay: 0s 
                -ms-transition-delay: 0s 
                -o-transition-delay: 0s 
                transition-delay: 0s  
                a 
                    display: inline-block
                    svg
                        pointer-events: none
                        height: 20px 
                        .cls-1
                            fill: #7a8690  
            ul
                float: right
                width: calc(100% - 120px)
                height: 28px
                display: flex
                -webkit-align-items: center
                align-items: center
                -webkit-align-content: center
                align-content: center
                -webkit-justify-content: space-between
                justify-content: space-between
                -webkit-flex-direction: row-reverse
                -ms-flex-direction: row-reverse
                flex-direction: row-reverse
            li
                position: relative
                z-index: 10
                -webkit-transform: translateX(50px) 
                -moz-transform: translateX(50px) 
                -ms-transform: translateX(50px) 
                -o-transform: translateX(50px) 
                transform: translateX(50px)
                opacity: 0
                visibility: hidden
                -webkit-transition: all .4s ease-in-out 
                -moz-transition: all .4s ease-in-out 
                -ms-transition: all .4s ease-in-out 
                -o-transition: all .4s ease-in-out 
                transition: all .4s ease-in-out 
                @for $i from 1 through 3
                    &:nth-child(#{$i})
                        transition-delay:   1.4 - ($i * 0.2s)
                a
                    float: left
                    width: 100%
                    color: #7d868e
                    font-family: "Gotham Pro Bold"
                    font-size: 14px
                    font-weight: 700
        &.share_button
            &>a
                opacity: 1
                visibility: visible
                -webkit-transition: all .5s ease-in-out 
                -moz-transition: all .5s ease-in-out 
                -ms-transition: all .5s ease-in-out 
                -o-transition: all .5s ease-in-out 
                transition: all .5s ease-in-out
                -webkit-transition-delay: 1s 
                -moz-transition-delay: 1s 
                -ms-transition-delay: 1s 
                -o-transition-delay: 1s 
                transition-delay: 1s 
        &.behance_share
            position: relative
            top: -4px 
            &>a
                opacity: 1
                visibility: visible
                -webkit-transition: all .5s ease-in-out 
                -moz-transition: all .5s ease-in-out 
                -ms-transition: all .5s ease-in-out 
                -o-transition: all .5s ease-in-out 
                transition: all .5s ease-in-out
                -webkit-transition-delay: 1s 
                -moz-transition-delay: 1s 
                -ms-transition-delay: 1s 
                -o-transition-delay: 1s 
                transition-delay: 1s 
        &>a  
            float: left
            width: 100% 
            color: #7d868e
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 14px
            font-weight: 700 
            i 
                font-size: 24px
        &.logo_share 
            width: 143px
            height: 28px 
            &>a
                opacity: 1
                visibility: visible
                -webkit-transition: all .5s ease-in-out 
                -moz-transition: all .5s ease-in-out 
                -ms-transition: all .5s ease-in-out 
                -o-transition: all .5s ease-in-out 
                transition: all .5s ease-in-out 
                -webkit-transition-delay: 1s 
                -moz-transition-delay: 1s 
                -ms-transition-delay: 1s 
                -o-transition-delay: 1s 
                transition-delay: 1s
                svg
                    pointer-events: none
                    max-width: 100% 
                    path
                        fill: #7a8790
.lines-wrapper 
    float: left
    width: 100%
    position: fixed
    top: 0
    left: 0
    pointer-events: none 
    -webkit-animation: grid_animate 2s linear forwards 
    -moz-animation: grid_animate 2s linear forwards 
    -o-animation: grid_animate 2s linear forwards 
    animation: grid_animate 2s linear forwards 
    @keyframes grid_animate 
        0% 
            -webkit-transform: translate(0, -100%) 
            -moz-transform: translate(0, -100%) 
            -ms-transform: translate(0, -100%) 
            -o-transform: translate(0, -100%) 
            transform: translate(0, -100%) 
        100% 
            -webkit-transform: translate(0, 0) 
            -moz-transform: translate(0, 0) 
            -ms-transform: translate(0, 0) 
            -o-transform: translate(0, 0) 
            transform: translate(0, 0)
    .container 
        @media (min-width: 1720px)
            max-width: 1650px !important
    .lines 
        float: left
        width: 100% 
        display: flex
        -webkit-align-items: center
        align-items: center
        -webkit-align-content: stretch
        align-content: stretch
        -webkit-justify-content: space-between
        justify-content: space-between
        .line 
            width: 1px
            height: 100vh
            opacity: .6 
            background: #e5ecf3
            @media (min-width: 992px)
                &:nth-child(n+7)    
                    display: none
                &:first-child,
                &:nth-child(4)
                    opacity: 1 
            @media (min-width: 1720px)
                &:nth-child(n+7)
                    display: block
            @media (max-width: 992px)
                &:nth-child(n+5) 
                    display: none
                &:first-child,
                &:nth-child(4)
                    opacity: 0 
.footer
    @media (max-width: 992px)
        display: none          
.footer_info
    -webkit-align-items: flex-start
    align-items: flex-start
    -webkit-align-content: center
    align-content: center
    -webkit-justify-content: space-between
    justify-content: space-between
    position: relative
    top: 3px
    +row-flex()
    .footer_navigation
        +col()
        +size(3)
        position: relative
        .navigation_menu
            float: left
            width: 100% 
            ul 
                float: left
                width: 100% 
                position: relative
                li
                    float: left
                    width: 33.33334%
                    text-align: left
                    a
                        color: #7d868e
                        font-family: "Gotham Pro Bold", sans-serif
                        font-size: 14px
                        -webkit-transition: all .5s ease-in-out 
                        -moz-transition: all .5s ease-in-out 
                        -ms-transition: all .5s ease-in-out 
                        -o-transition: all .5s ease-in-out 
                        transition: all .5s ease-in-out 
                        &:hover
                            color: #5d6b78
        .lang
            position: absolute
            right: -20px 
            top: 0
            color: #7d868e
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 14px
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out 
            &:hover
                color: #5d6b78
    .footer_copyright
        +col()
        +size(1)
        color: #7d868e
        font-family: "Gotham Pro Light", sans-serif
        font-size: 14px
        letter-spacing: -.2px
.header
    float: left
    width: 100% 
    -webkit-transition: all .5s ease-in-out 
    -moz-transition: all .5s ease-in-out 
    -ms-transition: all .5s ease-in-out 
    -o-transition: all .5s ease-in-out 
    transition: all .5s ease-in-out
    &.header_mobile
        display: none
        @media (max-width: 992px)
            display: block
    @media (max-width: 992px)
        position: fixed
        top: 0
        left: 0
        z-index: 9999
        background: #FFF 
        box-shadow: 1px 1px 20px rgba(102, 115, 125, 0.54) 
        height: 44px
        overflow: hidden 
        -webkit-transition-delay: .5s 
        -moz-transition-delay: .5s 
        -ms-transition-delay: .5s 
        -o-transition-delay: .5s 
        transition-delay: .5s
        &:before
            content: "" 
            float: left
            width: 100% 
            height: 44px
            box-shadow: 1px 1px 20px rgba(102, 115, 125, 0.54)
            position: absolute
            top: 0
            left: 0
            opacity: 0
            -webkit-transition-delay: 1s 
            -moz-transition-delay: 1s 
            -ms-transition-delay: 1s 
            -o-transition-delay: 1s 
            transition-delay: 1s 
        &>.container
            padding: 0
            .header_info
                padding: 0 15px 
        &.opened
            height: 100vh
            padding-bottom: 120px
            -ms-overflow-y: auto
            overflow-y: auto 
            -webkit-transition-delay: 0s 
            -moz-transition-delay: 0s 
            -ms-transition-delay: 0s 
            -o-transition-delay: 0s 
            transition-delay: 0s
            background: rgba(255, 255, 255, .98) 
            &:before
                opacity: 1
                -webkit-transition-delay: 0s
                -moz-transition-delay: 0s
                -ms-transition-delay: 0s
                -o-transition-delay: 0s
                transition-delay: 0s
            .header_info
                .header_navigation 
                    .navigation_menu
                        > ul 
                            li
                                opacity: 1
                                -webkit-transform: translate(0, 0) 
                                -moz-transform: translate(0, 0) 
                                -ms-transform: translate(0, 0) 
                                -o-transform: translate(0, 0) 
                                transform: translate(0, 0)
                                @for $i from 1 through 3
                                    &:nth-child(#{$i})
                                        -webkit-transition-delay: 0.25 + ($i * 0.05s) 
                                        -moz-transition-delay: 0.25 + ($i * 0.05s)
                                        -ms-transition-delay: 0.25 + ($i * 0.05s)
                                        -o-transition-delay: 0.25 + ($i * 0.05s) 
                                        transition-delay: 0.25 + ($i * 0.05s)
                    .mobile_langs
                        opacity: 1
                        visibility: visible
                        transform: translateY(0)
                        transition-delay: .5s
                .brand
                    a
                        padding-left: 20px
                        &.logo
                            transform: translateX(-100vw)
                            opacity: 0
                            transition-delay: 0s
                        &.short_header_logo
                            transition-delay: .5s
                            transform: translateX(0)
                            opacity: 1
                    
.header_info
    padding-top: 77px 
    display: flex
    -webkit-align-items: center
    align-items: center
    -webkit-align-content: center
    align-content: center
    -webkit-justify-content: space-between
    justify-content: space-between
    @media (max-width: 992px)
        height: 44px
        padding-top: 0   
    +row-flex()
    .brand
        +col()
        +size(1)
        position: relative
        @media (max-width: 992px)
            width: auto
            max-width: 28%
        a 
            float: left
            width: 100% 
            &.logo
                svg
                    max-width: 147px 
                @media (max-width: 992px)
                    transition: all .5s ease-in-out
                    transition-delay: .5s
                    transform: translateX(0)
                    svg
                        float: left
                        width: 100%
                        display: inline-block
                        height: 100%
                        max-width: 147px
            &.short_header_logo 
                display: none
                height: 100%
                svg
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out 
                    transition-delay: 0s
                    fill: #7a8790 
                    height: 100%
                    width: auto
                    &:hover
                        svg
                            fill: darken(#7a8790, 10%)
                @media (max-width: 992px)
                    display: block
                    transition: all .5s ease-in-out
                    transition-delay: .5s
                    position: absolute
                    left: 0
                    top: 0
                    opacity: 0
                    transform: translateX(-100vw)
            &:hover
                svg
                    path
                        fill: darken(#7a8790, 10%)
            svg 
                display: inline-block
                pointer-events: none
                path
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out 
                    fill: #7a8790  
    .header_navigation
        +col()
        +size(3)
        position: relative
        .navigation_menu
            float: left
            width: 100% 
            margin-top: -6px 
            > ul 
                float: left
                width: 100% 
                position: relative
                li
                    float: left
                    width: 33.33334%
                    text-align: left
                    @media (min-width: 1720px)
                        width: 184px 
                    a
                        color: #7d868e
                        font-family: "Gotham Pro Bold", sans-serif
                        font-size: 14px
                        -webkit-transition: all .5s ease-in-out 
                        -moz-transition: all .5s ease-in-out 
                        -ms-transition: all .5s ease-in-out 
                        -o-transition: all .5s ease-in-out 
                        transition: all .5s ease-in-out 
                        &:hover
                            color: #5d6b78
        @media (max-width: 992px)
           position: absolute
           top: 44px 
           left: 0 
           width: 100%
           padding: 0 15px 0 37px 
           height: calc(100vh - 44px)
           .navigation_menu
                margin-top: 0
                height: 100%
                display: flex
                flex-direction: column 
                > ul
                    margin-top: 50px
                    li
                        float: left
                        width: 100% 
                        margin-bottom: 47px 
                        opacity: 0
                        -webkit-transition: all .5s ease-in-out 
                        -moz-transition: all .5s ease-in-out 
                        -ms-transition: all .5s ease-in-out 
                        -o-transition: all .5s ease-in-out 
                        transition: all .5s ease-in-out 
                        -webkit-transform: translate(-25px, -25px) 
                        -moz-transform: translate(-25px, -25px) 
                        -ms-transform: translate(-25px, -25px) 
                        -o-transform: translate(-25px, -25px) 
                        transform: translate(-25px, -25px)
                        @for $i from 1 through 5
                            &:nth-child(#{$i})
                                -webkit-transition-delay: 0.65 - ($i * 0.05s) 
                                -moz-transition-delay: 0.65 - ($i * 0.05s) 
                                -ms-transition-delay: 0.65 - ($i * 0.05s) 
                                -o-transition-delay: 0.65 - ($i * 0.05s) 
                                transition-delay: 0.65 - ($i * 0.05s)
                        a
                            font-size: 32px 
        .mobile_langs 
            float: left
            width: 100%
            margin-top: auto
            padding-bottom: 150px
            display: none
            @media (max-width: 992px)
                display: block
                opacity: 0
                visibility: hidden
                transform: translateY(100px)
                transition: all .5s ease-in-out
                transition-delay: 0s
            ul 
                float: left
                width: 100%
                li 
                    float: left
                    margin-right: 20px
                    a
                        width: 30px
                        height: 30px
                        border-radius: 30px
                        color: #6a737b
                        font-family: "Gotham Pro Bold", sans-serif
                        font-size: 11px
                        font-weight: 700 
                        border: 1px solid #6a737b
                        display: -webkit-flex
                        display: -moz-flex
                        display: -ms-flex
                        display: -o-flex
                        display: flex
                        align-items: center
                        align-content: center
                        justify-content: center
                        &:hover 
                            background: #6a737b
                            color: #fff
        .lang
            position: absolute
            right: -19px 
            top: -5px
            color: #7d868e
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 14px
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out
            @media (max-width: 992px)
                right: 15px 
                top: 0
                &.lang_desktop 
                    display: none
            &:hover
                color: #5d6b78
    .mobile_menu_button
        width: 28px
        height: 24px
        background: transparent
        border: none
        -webkit-border-radius: 0 
        border-radius: 0 
        display: none
        transition: all .5s ease-in-out
        outline: none
        position: relative
        &.active
            span
                transition-delay: 0s
                background: transparent
                &:before
                    transform: translate(-50%, -50%) rotate(45deg) scale(1)
                    transition-delay: .25s
                &:after
                    transform: translate(-50%, -50%) rotate(-45deg) scale(1)
                    transition-delay: .25s
            &:before
                left: 50%
                transform: translate(-50%, -50%)
                opacity: 0
                transition-delay: 0s
            &:after
                right: 50%
                transform: translate(50%, -50%)
                opacity: 0
                transition-delay: 0s
        &:before
            content: ''
            width: 6px
            height: 6px
            border-radius: 8px
            background: #6a737b
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            opacity: 1
            transition: all .25s ease-in-out
            transition-delay: .25s
        &:after
            content: ''
            width: 6px
            height: 6px
            border-radius: 8px
            background: #6a737b
            position: absolute
            top: 50%
            transform: translateY(-50%)
            right: 0
            opacity: 1
            transition: all .25s ease-in-out
            transition-delay: .25s
        span
            width: 6px
            height: 6px
            border-radius: 6px
            background: #6a737b
            transition: all .5s ease-in-out
            position: absolute
            left: 50%
            transform: translate(-50%, -50%)
            top: 50%
            transition-delay: .25s
            &:before
                content: ""
                width: 2px
                height: 22px
                background: #6a737b
                display: inline-block
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%) rotate(45deg) scale(0)
                transition: all .25s ease-in-out
                transition-delay: 0s
            &:after
                content: ""
                width: 2px
                height: 22px
                background: #6a737b
                display: inline-block
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%) rotate(-45deg) scale(0)
                transition: all .25s ease-in-out
                transition-delay: 0s
        @media (max-width: 992px)
            display: flex
            -webkit-align-items: center
            align-items: center
            -webkit-align-content: center
            align-content: center
            -webkit-justify-content: center
            justify-content: center
.main 
    float: left
    width: 100%
    @media (max-width: 920px)
        padding-top: 44px  
     
.footer 
    float: left
    width: 100% 
    padding-bottom: 122px
    padding-top: 160px
    z-index: -1 
    position: fixed
    bottom: 0
    left: 0
    .footer_wrap
        float: left
        width: 100% 
.info-wrapper
    float: left
    width: 100% 
    margin-top: 40px
    margin-bottom: 40px
    @media (max-width: 992px)
        margin-bottom: 0
    @media screen and (max-width: 375px) and (max-height: 812px)
        margin-top: 67px 
        margin-bottom: 67px
    h1
        float: left
        width: 100%
        color: #7d868e
        font-family: "Gotham Pro Bold", sans-serif
        font-size: 57px
        letter-spacing: -2px
        position: relative
        left: -4px 
        z-index: 9
        clear: left
        white-space: nowrap
        @media (max-width: 992px)
            width: 100% 
            left: auto
            white-space: normal
            font-size: 37px 
            min-height: 74px 
            margin-bottom: 20px
        @media screen and (max-width: 375px) and (max-height: 812px)
            font-size: 72px 
            line-height: 84px
            height: 207px  
            span
                width: 100% 
                -ms-word-wrap: break-word 
                word-wrap: break-word 
    p
        float: left
        +col()
        width: 66.6666667%
        margin-top: 40px 
        color: #7d868e
        font-family: "Gotham Pro Light", sans-serif
        font-size: 14px
        line-height: 1.25 
        @media (max-width: 992px)
            display: none
    .main_info
        +col()
        +size(3)
        +shift-left(2)
        @media (max-width: 992px)
            width: 100% 
            margin-left: 0   
    .slider_counter
        +col-float()
        +size(2)
        .pagingInfo
            +col-float()
            color: #7d868e
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 29px
            text-align: left 
            line-height: 1
            margin-top: -80px 
            overflow: hidden
            padding-bottom: 0
            width: 100% 
            height: 80px 
            position: relative
            &:before
                content: "" 
                float: left
                width: calc(50% - 2px)
                height: 100%  
                background: #FFF
                display: block
                position: absolute
                left: 1px
                top: 0
                z-index: 3 
            span.slide 
                font-size: 90px 
                line-height: 1
                position: absolute
                top: 0
                left: -33px
                width: 120px
                padding: 0 
                z-index: 4 
            span.slides
                position: absolute
                top: 15px 
                left: 50% 
            span.divider
                position: absolute
                top: 15px 
                left: 35%
                z-index: 4  
        @media (max-width: 992px)
            float: left
            width: calc(33% - 4px)
            -webkit-transform: none !important
            -moz-transform: none !important
            -ms-transform: none !important
            -o-transform: none !important
            transform: none !important
            position: relative
            top: 0
            display: none
            .pagingInfo
                margin-top: 0
                height: auto
                &:before
                    display: none
                span.slide 
                    position: static
                    -webkit-transform: none !important
                    -moz-transform: none !important
                    -ms-transform: none !important
                    -o-transform: none !important
                    transform: none !important
                    width: auto
                    opacity: 1 !important
                    left: 0
                    font-size: 14px 
                span.slides
                    position: static
                    top: 0
                    font-size: 14px
                    -webkit-transform: none !important
                    -moz-transform: none !important
                    -ms-transform: none !important
                    -o-transform: none !important
                    transform: none !important
                    width: auto
                    opacity: 1 !important
                span.divider
                    position: static
                    top: 0
                    left: 0
                    font-size: 14px
.names_slider-wrapper
    float: left
    width: calc((100vw - 940px)/2)
    visibility: hidden
    margin-top: 0 
    +col()
    +shift-left(5)
    position: relative
    top: -56px 
    @media (max-width: 1100px)
        float: left
        width: 100%
        margin-left: 0
        top: 0
        margin-bottom: 20px
    @media (max-width: 992px)
        float: left
        width: calc(33% - 4px)
        position: relative
        top: -15px
    .slick-slide
        a
            float: left
            width: auto
            display: inline-block
            color: #7d868e
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 14px
            font-weight: 700
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out 
            -webkit-transform: translate(-100%, 0) 
            -moz-transform: translate(-100%, 0) 
            -ms-transform: translate(-100%, 0) 
            -o-transform: translate(-100%, 0) 
            transform: translate(-100%, 0)
            opacity: 0 
        &.slick-current
            a
                -webkit-transform: translate(0, 0) 
                -moz-transform: translate(0, 0) 
                -ms-transform: translate(0, 0) 
                -o-transform: translate(0, 0) 
                transform: translate(0, 0)
                opacity: 1  
.contacts_page_form
    .form-wrapper
        .form
            h2
                display: block
.form-wrapper
    +col-float()
    width: 100% 
    margin-top: 110px
    position: relative
    @media (max-width: 920px)
        margin-top: 0 
        display: none
    .form
        +col-float()
        width: 100% 
        h2
            +col-float()
            width: 100% 
            margin-bottom: 60px
            color: #e8e8e8
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 14px
            display: none
        form
            float: left
            +row-flex()
            width: 100%
            -webkit-justify-content: space-between
            justify-content: space-between
            @media (max-width: 920px)
                -webkit-flex-wrap: wrap
                -ms-flex-wrap: wrap
                flex-wrap: wrap
            fieldset
                +col-float()
                display: block
                input
                    +col-float()
                    width: 100%
                    border: none
                    background: transparent
                    -webkit-border-radius: 0 
                    border-radius: 0 
                    color: #7d868e
                    font-family: "Gotham Pro Bold", sans-serif
                    font-size: 54.5px
                    &::placeholder 
                        color: #c6d1da
                    @media (max-width: 920px)
                        font-size: 30px 
                button
                    +col-float()
                    width: calc(100% - 2px)
                    border: 2px solid #7d868e
                    height: 54px
                    -webkit-border-radius: 0 
                    border-radius: 0 
                    background: transparent 
                    color: #7d868e
                    font-family: "Gotham Pro Bold", sans-serif
                    font-size: 14px
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out
                    @media (max-width: 920px)
                        height: 37px 
                    &:hover 
                        background: #7d868e
                        color: #fff  
                &.input_field
                    +col-float()
                    +size(4)
                    @media (max-width: 920px)
                        width: calc(100% - 0px) 
                &.button_field
                    -webkit-align-items: flex-end
                    align-items: flex-end
                    display: flex
                    +col-float()
                    +size(1)
                    @media (max-width: 920px)
                        margin-top: 30px 
                        width: calc(33.33334% - 0px) 


.projects-wrapper
    +col-float()
    width: 100%
    margin-top: 70px
    @media (max-width: 920px)
        margin-top: 30px 
    .projects 
        float: left
        +row-flex()
        @media (max-width: 1100px)
            -webkit-justify-content: space-between
            justify-content: space-between
        @media (max-width: 768px)
            width: 100% 
        .project
            width: 46%
            height: auto
            position: relative
            margin-bottom: 50px
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out 
            +col()
            @media (max-width: 992px)
                width: 49% 
            @media (max-width: 920px)
                margin-bottom: 40px 
            @media (max-width: 768px)
                width: 100%
            &:hover
                a
                    figure
                        -webkit-transform: translateY(-20px) 
                        -moz-transform: translateY(-20px) 
                        -ms-transform: translateY(-20px) 
                        -o-transform: translateY(-20px) 
                        transform: translateY(-20px) 
                    h3
                        -webkit-transform: translateY(-10px) 
                        -moz-transform: translateY(-10px) 
                        -ms-transform: translateY(-10px) 
                        -o-transform: translateY(-10px) 
                        transform: translateY(-10px)
                    p
                        -webkit-transform: translateY(-10px) 
                        -moz-transform: translateY(-10px) 
                        -ms-transform: translateY(-10px) 
                        -o-transform: translateY(-10px) 
                        transform: translateY(-10px)
            a
                -webkit-transition: all .5s linear 
                -moz-transition: all .5s linear 
                -ms-transition: all .5s linear 
                -o-transition: all .5s linear 
                transition: all .5s linear 
                +col-float()
                width: 100% 
                &:hover
                    figure
                        box-shadow: 0 0 33px 2px rgba(5, 58, 75, 0.18)
                figure 
                    float: left
                    width: 100%
                    max-height: 273px 
                    -webkit-transition: all .5s linear 
                    -moz-transition: all .5s linear 
                    -ms-transition: all .5s linear 
                    -o-transition: all .5s linear 
                    transition: all .5s linear 
                    -webkit-transform: none
                    -moz-transform: none
                    -ms-transform: none
                    -o-transform: none
                    transform: none
                    position: relative
                    overflow: hidden
                    @media (max-width: 768px)
                        max-height: 100% 
                    &:hover
                        img
                            -webkit-transform: translateX(-50%) scale(1.2) 
                            -moz-transform: translateX(-50%) scale(1.2) 
                            -ms-transform: translateX(-50%) scale(1.2) 
                            -o-transform: translateX(-50%) scale(1.2) 
                            transform: translateX(-50%) scale(1.2) 
                    img
                        float: left
                        min-width: 100% 
                        height: 100%
                        position: relative
                        top: 0
                        left: 50%
                        -webkit-transform: translateX(-50%) 
                        -moz-transform: translateX(-50%) 
                        -ms-transform: translateX(-50%) 
                        -o-transform: translateX(-50%) 
                        transform: translateX(-50%)  
                        -webkit-transition: transform 10s linear 
                        -moz-transition: transform 10s linear 
                        -ms-transition: transform 10s linear 
                        -o-transition: transform 10s linear 
                        transition: transform 10s linear 
                        will-change: transfform
                        @media (max-width: 768px)
                            height: auto
                            max-width: 100% 
                h3
                    +col-float()
                    width: 100% 
                    margin-top: 45px
                    color: lighten(#62707d, 15%)
                    font-family: "Gotham Pro Bold", sans-serif
                    font-size: 33px
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out
                    -webkit-transition-delay: .25s 
                    -moz-transition-delay: .25s 
                    -ms-transition-delay: .25s 
                    -o-transition-delay: .25s 
                    transition-delay: .25s  
                    @media (max-width: 920px)
                        font-size: 28px
                        margin-top: 30px  
                    &:hover 
                        -webkit-transition-delay: 0s
                        -moz-transition-delay: 0s
                        -ms-transition-delay: 0s
                        -o-transition-delay: 0s
                        transition-delay: 0s
                        color: #5d6b78
                p
                    +col-float()
                    width: 100%
                    margin-top: 30px 
                    color: lighten(#62707d, 15%)
                    font-family: "Gotham Pro Light", sans-serif
                    font-size: 14px
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out 
                    -webkit-transition-delay: .25s 
                    -moz-transition-delay: .25s 
                    -ms-transition-delay: .25s 
                    -o-transition-delay: .25s 
                    transition-delay: .25s 
                    @media (max-width: 920px)
                        font-size: 16px
                        margin-top: 20px  
                        line-height: 1.5 
                    &:hover 
                        -webkit-transition-delay: 0s
                        -moz-transition-delay: 0s
                        -ms-transition-delay: 0s
                        -o-transition-delay: 0s
                        transition-delay: 0s
                        color: #5d6b78
            &:nth-child(2n)
                left: 14% 
                @media (max-width: 1100px)
                    left: 0 
.tags-wrapper
    width: 100%
    margin-top: 60px
    position: relative
    +col-float()
    @media (max-width: 920px)
        display: none
    .tags
        +col-float()
        width: 100%
        h2
            +col-float()
            width: 100% 
            margin-bottom: 60px
            color: #e8e8e8
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 14px
        .tags_projects
            +col-float()
            +size(4)
            @media (max-width: 920px)
                width: calc(100% - 0px) 
            li.tag_item
                +col-float()
                width: 50%
                margin-bottom: 40px 
                @media (max-width: 920px)
                    width: calc(100% - 0px)
                    margin-bottom: 20px  
                a 
                    color: #7a8790
                    font-family: "Gotham Pro Bold", sans-serif
                    font-size: 33px
                    line-height: 1
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out 
                    &:hover
                        color: darken(#7d868e, 10%) 
        .all_projects
            +col-float()
            +size(1)
            color: #7a8790
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 14px
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out
            &:hover
                color: darken(#7a8790, 10%) 

.slider-wrapper 
    float: left
    position: relative
    overflow: hidden
    margin-bottom: 40px 
    & + .projects-wrapper
        .container
            padding: 0 !important
    @media (max-width: 920px)
        margin-bottom: 0
        overflow: visible
        
    &:hover
        .buttons-wrapper
            button
                opacity: 1
    .slider
        visibility: hidden
        width: calc(918px + (100vw - 920px)/2)
        @media(max-width: 920px)
            width: calc(100vw - 15px) 
        .item
            float: left
            width: 100% 
            overflow: hidden
            @media screen and (max-width: 375px) and (max-height: 812px)
                height: 195px 
            &.slick-active
                a
                    img
                        -webkit-transform: scale(1) 
                        -moz-transform: scale(1) 
                        -ms-transform: scale(1) 
                        -o-transform: scale(1) 
                        transform: scale(1)
                        @media(max-width: 920px)
                            -webkit-transform: translateX(-50%) scale(1) 
                            -moz-transform: translateX(-50%) scale(1) 
                            -ms-transform: translateX(-50%) scale(1) 
                            -o-transform: translateX(-50%) scale(1) 
                            transform: translateX(-50%) scale(1)
            a 
                float: left
                width: 100% 
                position: relative
                // @media(max-width:920px)
                //     height: calc(100vh - 260px) 
                &:hover 
                    span 
                        opacity: 1
                        visibility: visible
                    
                span 
                    float: left
                    display: inline-block
                    position: absolute
                    left: 45px
                    padding-top: 48px 
                    top: 0
                    opacity: 0
                    visibility: hidden
                    +col() 
                    color: #ffffff
                    font-family: "Gotham Pro Bold", sans-serif
                    font-size: 14px
                    text-align: center
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out 
                    &:hover 
                        -webkit-transform: scale(1.05) 
                        -moz-transform: scale(1.05) 
                        -ms-transform: scale(1.05) 
                        -o-transform: scale(1.05) 
                        transform: scale(1.05) 
                img 
                    float: left
                    width: 100%
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out 
                    -webkit-transform: scale(1.2) 
                    -moz-transform: scale(1.2) 
                    -ms-transform: scale(1.2) 
                    -o-transform: scale(1.2) 
                    transform: scale(1.2)
                    @media(max-width: 920px)
                        width: 150% 
                        position: relative
                        left: 50%
                        -webkit-transform: translateX(-50%) scale(1) 
                        -moz-transform: translateX(-50%) scale(1) 
                        -ms-transform: translateX(-50%) scale(1) 
                        -o-transform: translateX(-50%) scale(1) 
                        transform: translateX(-50%) scale(1)   
    .scroll-down_mobile
        float: right
        width: auto
        border: none
        height: 40px
        line-height: 40px
        position: relative
        padding-left: 26px
        margin-top: 23px 
        overflow: visible
        display: none
        margin-right: 10px
        @media (max-width: 992px)
            display: block
        @keyframes scrolld
            0% 
                top: -26px
                opacity: 0
            50%
                opacity: 1
            100%
                top: 26px
                opacity: 0
        i 
            color: #6a737b
            font-size: 30px 
            position: absolute
            top: 0
            line-height: 26px 
            left: 0 
            -webkit-animation: scrolld 1.5s ease-in-out infinite 
            -moz-animation: scrolld 1.5s ease-in-out infinite 
            -o-animation: scrolld 1.5s ease-in-out infinite 
            animation: scrolld 1.5s ease-in-out infinite     
        span 
            color: #6a737b
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 12px
            font-weight: 700
            line-height: 11.57px
    .buttons-wrapper
        +col()
        width: calc(100% - 90px)
        position: absolute
        top: 50% 
        left: 50%
        display: flex
        -webkit-align-items: center
        align-items: center
        -webkit-align-content: center
        align-content: center
        -webkit-justify-content: space-between
        justify-content: space-between
        -webkit-transform: translate(-50%, -50%) 
        -moz-transform: translate(-50%, -50%) 
        -ms-transform: translate(-50%, -50%) 
        -o-transform: translate(-50%, -50%) 
        transform: translate(-50%, -50%) 
        -webkit-transition: all .5s ease-in-out 
        -moz-transition: all .5s ease-in-out 
        -ms-transition: all .5s ease-in-out 
        -o-transition: all .5s ease-in-out 
        transition: all .5s ease-in-out
        pointer-events: none
        @media(max-width: 992px)
            width: calc(33.333334% - 15px) 
            position: static
            pointer-events: visible
            opacity: 1
            -webkit-transform: none 
            -moz-transform: none 
            -ms-transform: none 
            -o-transform: none 
            transform: none 
            float: left
            margin-top: 23px  
        button 
            width: 40px 
            height: 40px
            -webkit-border-radius: 40px 
            border-radius: 40px 
            display: flex
            -webkit-align-items: center
            align-items: center
            -webkit-align-content: center
            align-content: center
            -webkit-justify-content: center
            justify-content: center
            padding: 0 
            pointer-events: visible
            background: rgba(0, 0, 0, .2) 
            color: rgb(255,255,255)
            mix-blend-mode: multiply
            border: none  
            font-size: 30px 
            opacity: 0
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out
            &:hover
                background: rgba(0, 0, 0, .5)
            @media(max-width: 992px)
                opacity: 1
                border: 1px solid #6a737b
                color: #6a737b
                background: transparent
                &:hover
                    background: #0f80ff
                    border-color: #0f80ff 
                    color: #FFF 
.fancybox-bg
    background: #ffffff !important
    opacity: 0.97 !important
.fancybox-content
    background: transparent !important 
#trueModal
    padding: 0
    margin: 0
    overflow: visible
    .close
        float: left
        width: auto 
        height: auto
        font-size: 31px 
        position: absolute
        top: -40% 
        right: -185px
        background: transparent
        border: none 
        color: #7D868E
        -webkit-transition: none
        -moz-transition: none
        -ms-transition: none
        -o-transition: none
        transition: none 
        i
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out 
        &:hover
            color: darken(#7D868E, 15%)  
.modal_content
    float: none
    width: 100vw 
    max-width: 550px 
    display: table
    margin: 0 auto 
    .content_wrapper
        display: flex
        -webkit-align-items: flex-start
        align-items: flex-start
        -webkit-align-content: flex-start
        align-content: flex-start
        -webkit-justify-content: space-between
        justify-content: space-between
        -webkit-flex-wrap: wrap
        -ms-flex-wrap: wrap
        flex-wrap: wrap
        &>button
            width: 187px
            height: 56px 
            border: 2px solid #7d868e
            background: transparent
            color: #7d868e
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 14px
            font-weight: 700
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out             
            i 
                font-size: 16px 
                color: #7d868e 
                margin-right: 30px
                -webkit-transition: all .5s ease-in-out 
                -moz-transition: all .5s ease-in-out 
                -ms-transition: all .5s ease-in-out 
                -o-transition: all .5s ease-in-out 
                transition: all .5s ease-in-out  
            &.facebook
                &:hover
                    background: #3A5998 
                    border-color: #3A5998 
                    color: #fff
                    i
                        color: #FFF
            &.twitter
                &:hover
                    background: #55acee
                    border-color: #55ACEE  
                    color: #fff
                    i
                        color: #FFF
        .copy_block
            float: left
            width: 100% 
            margin-top: 130px
            input
                float: left
                width: 100% 
                border: none
                background: transparent
                padding: 17px 0 
                border-bottom: 2px solid #7D868E 
                color: #7d868e
                font-family: "Gotham Pro Bold", sans-serif
                font-size: 16px
                font-weight: 700
                &::selection
                    background: rgba(#7D868E, .18)
                    color: #7d868e
                ::-moz-selection
                    background: rgba(#7D868E, .18)
                    color: #7d868e

            button
                margin-top: 20px
                float: right
                background: transparent
                border: none
                color: #7d868e
                font-family: "Gotham Pro Bold", sans-serif
                font-size: 16px
                font-weight: 700
.page_name-wrapper
    float: left
    width: 100% 
    padding-top: 59px 
    @media (max-width: 920px)
        padding-top: 40px 
    .page_name
        float: left
        width: 100%
        h2 
            float: left
            width: 100% 
            color: #7d868e
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 57px
            font-weight: 700
            line-height: 1
            position: relative
            left: -4px 
            @media (max-width: 920px)
                left: 0
                font-size: 40px 
.filter-wrapper
    float: left
    width: 100% 
    padding-top: 73px 
    @media (max-width: 920px)
        padding-top: 37px
    .filter
        float: left
        width: 100% 
        ul
            float: left
            width: auto
            list-style-type: none
            @media (max-width: 920px)
                display: flex
                -webkit-flex-wrap: wrap
                -ms-flex-wrap: wrap
                flex-wrap: wrap
            li
                float: left
                width: auto
                margin-right: 40px
                position: relative
                overflow: hidden
                @media (max-width: 920px)
                    margin-right: 17px
                    margin-bottom: 17px 
                &:last-child
                    margin-right: 0 
                a
                    font-family: "Gotham Pro Bold", sans-serif
                    font-weight: 700
                    border: 1px solid #6a737b
                    padding: 10px 15px
                    border-radius: 20px 
                    color: #6a737b
                    font-size: 12px
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out
                    display: block
                    overflow: hidden
                    &:before
                        position: absolute
                        left: 10px 
                        top: 50%
                        margin-right: 5px 
                        content: "+"
                        -webkit-border-radius: 12px 
                        border-radius: 12px 
                        background-color: #0f80ff
                        display: inline-block
                        color: #FFF 
                        line-height: 12px  
                        transform: translate(-50px, -50%) rotate(45deg)
                        transform-origin: 50% 50%
                        font-family: "Gotham Pro", sans-serif
                        font-size: 14px
                        font-weight: 400
                        text-align: center
                        width: 12px
                        height: 12px 
                        -webkit-transition: all .5s ease-in-out 
                        -moz-transition: all .5s ease-in-out 
                        -ms-transition: all .5s ease-in-out 
                        -o-transition: all .5s ease-in-out
                        transition: all .5s ease-in-out 
                              
                    &:hover
                        color: #0F80FF
                    &.active
                        border-color: #0F80FF 
                        color: #0F80FF
                        padding-left: 30px  
                        &:before
                            transform: translate(0px, -50%) rotate(45deg)
                                                    
.studio_banner-wrapper
    float: left
    width: 100% 
.studio_banner
    float: left
    width: 100% 
    position: relative
    z-index: 9
    text-align: center
    margin-top: 62px
    margin-bottom: 90px 
    img
        float: none
        display: inline-block
        max-width: 100% 
        width: auto
        margin-bottom: 62px
    h2
        float: left
        width: 100% 
        color: #7d868e
        font-family: "Gotham Pro Bold", sans-serif
        font-size: 57px
        font-weight: 700
        display: block
        text-align: left
        position: relative
        line-height: 1.3 
        left: -4px
        @media (max-width: 920px)
            font-size: 36px
            left: 0 
    p
        float: left
        width: 100% 
        color: #7d868e
        font-family: "Gotham Pro Light", sans-serif
        font-size: 17px
        font-weight: 300
        text-align: left
        margin-top: 62px
        line-height: 1.5 
.workers-wrapper
    float: left
    width: 100%
.workers
    float: left
    width: 100% 
    .worker
        float: left
        width: 100% 
        display: flex
        margin-bottom: 60px
        @media (max-width: 992px)
            -webkit-flex-wrap: wrap
            -ms-flex-wrap: wrap
            flex-wrap: wrap
            position: relative
        .number
            +col()
            +size(1)
            @media (max-width: 992px)
                margin-left: auto 
                width: calc(33.333334% - 4px)
                -webkit-order: 3 
                -ms-order: 3 
                order: 3
                margin-top: -150px           
            span
                float: left
                width: 85px 
                height: auto
                overflow: hidden
                p 
                    color: #7d868e
                    font-family: "Helvetica Neue Ultra Light", sans-serif
                    font-size: 74px
                    font-weight: 400
                    line-height: 0.78 
                    width: 85px 
                    -webkit-transform: translateX(-19px) 
                    -moz-transform: translateX(-19px) 
                    -ms-transform: translateX(-19px) 
                    -o-transform: translateX(-19px) 
                    transform: translateX(-19px)
        .img_wrapper
            +col()
            +size(1)
            display: block
            @media (max-width: 992px)
                width: 66.66667%
            figure
                display: block
                width: 147px 
                height: 147px
                background-color: #e8e8e8
                overflow: hidden
                img
                    width: auto
                    height: auto
                    min-width: 100% 
                    min-height: 100% 
        .worker_info
            +col()
            +size(2)
            @media (max-width: 992px)
                width: 66.66667%
                margin-top: 30px 
            h3
                float: left
                width: 100% 
                color: #7d868e
                font-family: "Gotham Pro Bold", sans-serif
                font-size: 26px
                font-weight: 700
                margin-bottom: 28px
                margin-top: -5px
                line-height: 1.3   
            p
                float: left
                width: 100% 
                color: #7d868e
                font-family: "Gotham Pro Light", sans-serif
                font-size: 17px
                margin-bottom: 28px 
                font-weight: 300
                line-height: 1.5
                &:last-child
                    margin-bottom: 0 
        &:nth-child(2n + 2)
            .img_wrapper
                +shift-left(1)
                @media (max-width: 992px)
                    margin-left: 0 
        &:nth-child(2n + 1)
            .number
                +shift-left(1)
                -webkit-order: 3 
                -ms-order: 3 
                order: 3 
                @media (max-width: 992px)
                    margin-left: auto 
.project_module-wrapper
    float: left
    width: 100% 
    margin-top: 70px 
.project_module
    float: left
    width: 100%
    h2
        float: left
        width: 100% 
        color: #7d868e
        font-family: "Gotham Pro Bold", sans-serif
        font-size: 57px
        font-weight: 700
        position: relative
        z-index: 2
        left: -3px
        @media (max-width: 992px)
            font-size: 40px 
            left: 0
    h3
        float: left
        width: 100% 
        color: #7d868e
        font-family: "Gotham Pro Bold", sans-serif
        font-size: 48px
        font-weight: 700
        position: relative
        z-index: 2
        left: -3px
        @media (max-width: 992px)
            font-size: 36px 
            left: 0
    blockquote
        float: left
        width: 100%
        position: relative
        &:before
            content: "‘‘"
            opacity: 0.5
            color: #d0d9ea
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 259px
            font-weight: 700
            line-height: 33px
            position: absolute
            top: -40px
            left: -58px
            z-index: 1
            -webkit-transform: rotate(180deg)
            -moz-transform: rotate(180deg)
            -ms-transform: rotate(180deg)
            -o-transform: rotate(180deg)
            transform: rotate(180deg)
        h4
            float: left
            width: 100%
            color: #094463
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 33px
            font-weight: 700
            position: relative
            z-index: 2
    p
        float: left
        width: 100% 
        color: #7d868e
        font-family: "Gotham Pro Light", sans-serif
        font-size: 17px
        font-weight: 300
        line-height: 1.5
        margin-top: 90px
        margin-bottom: 90px
        &.half_margin
            margin-bottom: 80px
            margin-top: 60px
        &.mini_top_margin
            margin-top: 50px
        &.mini_bottom_margin
            margin-bottom: 50px
        span
            display: inline-block
            &:nth-child(n + 2)
                margin-top: 25px
        @media (max-width: 992px) 
            margin-top: 50px
            margin-bottom: 50px 
        &.short
            max-width: 40% 
            @media(max-width: 992px)
                max-width: 100% 
    .long_image
        float: left
        width: calc(918px + (100vw - 920px)/2)
        position: relative
        margin-bottom: 90px
        background-attachment: scroll
        z-index: 99
        //@media (min-width: 1720px)
        //    max-width: 1102px
        @media(max-width: 920px)
            margin-bottom: 50px
            width: calc(100vw - 15px) 
        figure
            float: left
            width: 100% 
            background-color: #e8e8e8
            height: 461px
            transform: translateZ(0)
            &.figure_full_long
                height: 1108px
            img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center
                &.absolutely
                    position: absolute
                    left: 50%
                    top: 50%
                    -webkit-transform: translate(-50%, -50%)
                    -moz-transform: translate(-50%, -50%)
                    -ms-transform: translate(-50%, -50%)
                    -o-transform: translate(-50%, -50%)
                    transform: translate(-50%, -50%)
                    object-fit: none
                    width: auto
                    height: auto
                    max-width: 80%
                    max-height: 80%
                &.scissors
                    position: absolute
                    left: 50%
                    top: -43px
                    max-width: 1000%
                    max-height: 1000%
                    -webkit-transform: translate(-50%, 0)
                    -moz-transform: translate(-50%, 0)
                    -ms-transform: translate(-50%, 0)
                    -o-transform: translate(-50%, 0)
                    transform: translate(-50%, 0)

    .short_images
        float: left
        width: 100% 
        margin-top: 10px
        margin-bottom: 75px
        position: relative
        z-index: 2
        @media (max-width:  992px)
            margin-bottom: 50px
            display: flex
            -webkit-justify-content: space-between
            justify-content: space-between
            -webkit-flex-wrap: wrap
            -ms-flex-wrap: wrap
            flex-wrap: wrap
        figure
            float: left
            width: 50%
            background-color: #e8e8e8
            height: 351px
            position: relative
            img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center
                &.absolutely
                    position: absolute
                    left: 50%
                    top: 50%
                    -webkit-transform: translate(-50%, -50%)
                    -moz-transform: translate(-50%, -50%)
                    -ms-transform: translate(-50%, -50%)
                    -o-transform: translate(-50%, -50%)
                    transform: translate(-50%, -50%)
                    object-fit: none
                    width: auto
                    height: auto
                    max-width: 80%
                    max-height: 80%
            @media (max-width: 640px)
                width: 100% 
                margin-bottom: 50px
                left: 0  
            &:nth-child(2n) 
                left: 10%
                @media (max-width: 992px)
                    left: 0
    .short_blocks
        float: left
        width: 100%
        margin-top: 10px
        //margin-bottom: 75px
        position: relative
        z-index: 2
        @media (max-width:  992px)
            margin-bottom: 50px
            display: flex
            -webkit-justify-content: space-between
            justify-content: space-between
            -webkit-flex-wrap: wrap
            -ms-flex-wrap: wrap
            flex-wrap: wrap
        div
            float: left
            width: 50%
            position: relative
            h4
                float: left
                width: 100%
                font-family: "Gotham Pro Bold", sans-serif
                font-size: 33px
                font-weight: 700
                color: #094463
                margin-top: 60px
            p
                margin-top: 50px
            @media (max-width: 640px)
                width: 100%
                margin-bottom: 50px
                left: 0
            &:nth-child(2n)
                left: 10%
                @media (max-width: 992px)
                    left: 0
            figure
                float: left
                width: 100%
                background-color: #e8e8e8
                height: 351px
                position: relative
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: center
                    &.absolutely
                        position: absolute
                        left: 50%
                        top: 50%
                        -webkit-transform: translate(-50%, -50%)
                        -moz-transform: translate(-50%, -50%)
                        -ms-transform: translate(-50%, -50%)
                        -o-transform: translate(-50%, -50%)
                        transform: translate(-50%, -50%)
                        object-fit: none
                        width: auto
                        height: auto
                        max-width: 80%
                        max-height: 80%
.contacts_banner-wrapper
    float: left
    width: 100% 
    margin-top: 71px
    @media (max-width: 920px)
        margin-top: 44px  
    .contacts_banner
        float: left
        width: 100% 
        figure
            float: left
            position: relative
            width: calc(918px + (100vw - 920px)/2)
            @media(max-width: 920px)
                width: calc(100vw - 15px)
                overflow: hidden 
                min-height: 183px 
            img
                float: left
                width: 100% 
                height: auto
                @media(max-width: 520px)
                    width: 152% 
                    left: 50%
                    -webkit-transform: translateX(-50%) 
                    -moz-transform: translateX(-50%) 
                    -ms-transform: translateX(-50%) 
                    -o-transform: translateX(-50%) 
                    transform: translateX(-50%) 
                    position: relative 
.contacts-wrapper
    float: left
    width: 100%
    margin-top: 67px
    position: relative
    @media (max-width: 920px)
        margin-top: 44px  
    .contacts
        float: left
        width: 100% 
        .offices-wrapper
            +row-flex()
            margin: 0 0 23px 0
            div.office
                +col()
                +size(2)
                &:nth-child(2n)
                    +shift-left(1)
                @media (max-width: 920px)
                    width: 100%
                    margin-bottom: 44px  
                    &:nth-child(2n)
                        margin-left: 0 
                        margin-bottom: 0 
                .city
                    float: left
                    width: 100% 
                    color: #7d868e
                    font-family: "Gotham Pro Bold", sans-serif
                    font-size: 33px
                    font-weight: 700
                    line-height: 1
                    margin-bottom: 71px
                    @media (max-width: 640px)
                        margin-bottom: 45px 
                strong
                    float: left
                    width: 100% 
                    color: #7d868e
                    font-family: "Gotham Pro Bold", sans-serif
                    font-size: 17px
                    font-weight: 700
                    line-height: 1.5
                    margin-bottom: 20px
                p
                    float: left
                    width: 100% 
                    color: #7d868e
                    font-family: "Gotham Pro", sans-serif
                    font-size: 17px
                    font-weight: 400
                    line-height: 1.5
                    margin-bottom: 20px 
.connect_us
    float: left
    width: 100%
    position: relative
    &.mobile 
        display: none
        @media (max-width: 920px)
            display: block 
    h2
        width: 100% 
        margin-bottom: 100px
        color: #e8e8e8
        font-family: "Gotham Pro Bold", sans-serif
        font-size: 14px
        @media (max-width: 920px)
            margin-bottom: 37px
            font-size: 2.5vw 
    &>a
        float: left
        width: auto
        display: inline-block
        clear: left
        color: #7d868e
        font-family: "Gotham Pro Bold", sans-serif
        font-size: 50px
        font-weight: 700
        line-height: 1
        margin-bottom: 48px
        @media (max-width: 920px)
            font-size: 6vw 
            margin-bottom: 45px 
        &.wrote
            height: 37px
            border: 2px solid #6a737b
            background: #FFF 
            color: #6a737b
            width: 100% 
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 12px
            font-weight: 700
            text-align: center
            line-height: 33px 
            text-transform: uppercase
            letter-spacing: 1.88px
            &.mobile
                display: none
                @media (max-width: 920px)
                    display: block 
    .color_social
        float: left
        width: 100% 
        ul
            +row-flex()
            margin: 45px 0 0 0
            li
                +col()
                +size(1)
                 
                a
                    float: left
                    width: auto
                    font-family: "Gotham Pro Bold", sans-serif
                    font-size: 21px
                    font-weight: 700
                    line-height: 1
                    color: #7d868e
                    text-decoration: none
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out 
                    &.behance
                        &:hover
                            color: #1769ff
                    &.dribbble
                        &:hover
                            color: #f26798
                    &.facebook
                        &:hover
                            color: #3b5998
                    &.instagram
                        &:hover
                            color: #000
                    &:first-letter
                        text-transform: uppercase 
            @media (max-width: 920px)
                margin-top: 17px 
                li
                    width: 25%
                    a
                        width: 100% 
                        text-align: center
                        font-size: 2.8vw 
.next_project-block
    float: left
    width: 100% 
    @media (max-width: 920px)
        overflow: hidden
.next_project-wrapper
    +row-flex() 
    position: relative
    &>div
        h2
            float: left
            width: 100% 
            color: #e8e8e8
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 14px
            font-weight: 700
            line-height: 1.2
            margin-bottom: 62px  
    .tags
        +col()
        +size(2)
        @media (max-width: 992px)
            display: none
        a
            float: left
            clear: left
            color: #7d868e
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 33px
            font-weight: 700
            line-height: 1
            margin-bottom: 0px
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out
            &:hover
                color: darken(#7d868e, 10%) 
        ul 
            float: left
            width: 100% 
            li
                float: left
                width: 100% 
                margin-bottom: 80px
                &:last-child
                    margin-bottom: 0
                
    .next_wrp
        +col()
        +size(3)
        @media (max-width: 992px)
            width: 85% 
            margin-left: auto
            right: -15px
            position: relative 
    .next_project
        width: 100% 
        +row-flex()
        position: relative
        -webkit-flex-wrap: nowrap
        -ms-flex-wrap: nowrap
        flex-wrap: nowrap
        opacity: 0.5 !important
        -webkit-transition: all .5s ease-in-out 
        -moz-transition: all .5s ease-in-out 
        -ms-transition: all .5s ease-in-out 
        -o-transition: all .5s ease-in-out 
        transition: all .5s ease-in-out
        @media (max-width: 992px)
            -webkit-flex-wrap: wrap
            -ms-flex-wrap: wrap
            flex-wrap: wrap
        &:hover
            opacity: 1 !important
            .next_project-info
                .see
                    i
                        left: 5px 
            .next_project_image
                margin-left: -20px 
        .next_project-info
            +col()
            +size(3.3)
            min-width: 368px
            display: flex
            -webkit-flex-direction: column
            -ms-flex-direction: column
            flex-direction: column
            @media (max-width: 992px)
                width: 100%
                margin-bottom: 47px  
                min-width: 100% 
            .name
                float: left
                width: 100% 
                color: #7d868e
                font-family: "Gotham Pro Bold", sans-serif
                font-size: 33px
                font-weight: 700
                line-height: 1
                margin-bottom: 35px
            p
                float: left
                width: 100% 
                color: #7d868e
                font-family: "Gotham Pro Light", sans-serif
                font-size: 14px
                font-weight: 300
                max-width: 85%
                line-height: 1.3 
            .see
                float: left
                clear: left
                width: auto
                display: inline-block
                margin-top: auto
                color: #7d868e
                font-family: "Gotham Pro Bold", sans-serif
                font-size: 15px
                font-weight: 700
                line-height: 1
                @media (max-width: 992px)
                    display: none 
                i
                    font-size: 21px
                    line-height: 15px
                    top: 3px   
                    margin-left: 18px 
                    position: relative
                    left: 0
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out
                    &:before
                        line-height: 15px 
        .next_project_image 
            +col()
            width: calc((920px / 5) + (100vw - 920px)/2 + 20px)
            margin-top: -18px 
            -webkit-transition: all .5s ease-in-out 
            -moz-transition: all .5s ease-in-out 
            -ms-transition: all .5s ease-in-out 
            -o-transition: all .5s ease-in-out 
            transition: all .5s ease-in-out
            @media (min-width: 1720px)
                max-width: 368px 
            @media (max-width: 992px)
                width: 100% 
            figure
                float: left
                width: 100% 
                height: 100%
                overflow: hidden
                @media (max-width: 992px)
                    height: auto 
                img
                    min-width: 100% 
                    height: 100%
                    @media (max-width: 992px)
                        max-width: 100% 
                        height: auto 
            .see
                float: left
                clear: left
                width: auto
                color: #7d868e
                font-family: "Gotham Pro Bold", sans-serif
                font-size: 15px
                font-weight: 700
                line-height: 1
                display: none
                margin-top: 60px
                margin-bottom: 54px
                @media (max-width: 992px)
                    display: inline-block 
                i
                    font-size: 21px
                    line-height: 15px
                    top: 3px   
                    margin-left: 18px 
                    position: relative
                    left: 0
                    -webkit-transition: all .5s ease-in-out 
                    -moz-transition: all .5s ease-in-out 
                    -ms-transition: all .5s ease-in-out 
                    -o-transition: all .5s ease-in-out 
                    transition: all .5s ease-in-out
                    &:before
                        line-height: 15px  
.colored
    .next_project-wrapper .next_project .next_project_image .see
        color: #FFF 
    .lines-wrapper
        .lines 
            .line
                background: #FFF 
    .project_module
        position: relative 
        h2,h3,p
            color: #FFF
        .long_image,
        .short_images
            figure 
                background-color: #FFF 
    .next_project-wrapper 
        .tags 
            a
                color: #FFF 
                &:hover
                    color: darken(#FFF, 10%) 
        .next_project 
            .next_project-info 
                .name, p, .see
                    color: #FFF
    .form-wrapper 
        .form 
            form 
                fieldset 
                    input 
                        color: darken(#FFF, 10%)
                        &::placeholder
                            color: #FFF
                    button 
                        color: #FFF 
                        border-color: #FFF 
                        &:hover
                            background: #FFF 
                            color: green 
    .footer_info 
        .footer_navigation 
            .navigation_menu 
                ul 
                    li 
                        a 
                            color: #FFF 
                            &:hover
                                color: darken(#FFF, 10%) 
        .footer_copyright
            color: #FFF 
    .menu_button
        &.active
            span
                background: transparent 
        span
            background: #FFF 
            &:before
                background: #FFF
            &:after
                background: #FFF 
        &:before
            background: #FFF
        &:after
            background: #FFF 
    .share_menu 
        div 
            & > a
                color: #FFF
        div.left_menu
            &.opened 
                .logo
                    a
                        svg
                            .cls-1
                                fill: #fff
            li 
                a 
                    color: #FFF
            
        div.logo_share
            &>a
                svg
                    path
                        fill: #fff
                        span
                            color: #ffffff
                            font-family: "Beatrix Antiqua", sans-serif
                            font-size: 14px
                            font-weight: 600

                        i
                            color: #FFF
                            font-size: 24px
    .connect_us > a
        color: #FFF 
        background: transparent
        border-color: #FFF
    .connect_us .color_social ul li a
        color: #FFF 
    .header
        background: green
    .header_info .brand a svg path
        fill: #FFF
    .header_info .mobile_menu_button
        span
            background: #FFF
            &:before,
            &:after
                background: #FFF  
        &:before,
        &:after
                background: #FFF
    .header_info .mobile_menu_button.active span
        background: transparent
    .header_info .header_navigation .navigation_menu ul li a
        color: #FFF  
.bau
    .project_module
        figure
            background-color: #d0d9ea
            img
                &.bau_logo
                    left: 25%
                    -webkit-transform: translate(0, -50%)
                    -moz-transform: translate(0, -50%)
                    -ms-transform: translate(0, -50%)
                    -o-transform: translate(0, -50%)
                    transform: translate(0, -50%)
        .short_blocks
            figure
                background-color: #d0d9ea
        h2
            color: #094463
        h3
            color: #094463
        p
            color: #094463
        .tags_page
            +col()
            float: right
            text-align: left
            color: #e8ecf5
            font-family: "Gotham Pro Bold", sans-serif
            font-size: 21px
            font-weight: 700
            margin: 90px 0 90px 0
            display: inline-block
            &.half_margin
                margin-top: 60px
                margin-bottom: 80px
            &.orange
                color: #ff5423
            &.no_top_margin
                margin: 0 0 90px 0
            &.no_bottom_margin
                margin: 0 90px 0 0
            &.one_col
                +size(1)
                @media (max-width: 992px)
                    +size(5)
            &.two_col
                +size(2)
                @media (max-width: 992px)
                    +size(5)
    .next_project-wrapper > div h2
        color: #e8e8e8
.bottom_fixed
    float: left
    background-color: #66737d
    -webkit-align-items: center
    align-items: center
    -webkit-align-content: center
    align-content: center
    -webkit-justify-content: space-between
    justify-content: space-between
    width: 100%
    height: 45px
    padding: 0 15px 0 15px
    text-decoration: none
    opacity: 1
    visibility: visible
    -webkit-transition: all .5s ease-in-out
    -moz-transition: all .5s ease-in-out
    -ms-transition: all .5s ease-in-out
    -o-transition: all .5s ease-in-out
    transition: all .5s ease-in-out
    display: none
    position: fixed
    bottom: 0
    z-index: -1
    &:before
        content: "" 
        width: 100% 
        height: 50vh
        background: #66737d
        position: absolute
        bottom: 100% 
        left: 0   
    @media (max-width: 992px)
        display: flex
    svg
        width: 150px 
        max-width: 30% 
        path
            fill: #fff
    i
        color: #FFF
        font-size: 24px
.project_module_banner
    float: left
    width: 100%
    position: relative
    height: 662px
    overflow: hidden
    z-index: 99
    img
        object-position: center
        object-fit: cover
        height: 100%
        width: 100%