.connect_us.mobile
	h2(data-aos="fade-up") Свяжитесь с нами
	a.number(href="tel:+380930530831") +38 (093) 05 30 831
	a.email(href="mailto:looksgreat.studio@gmail.com") looksgreat.studio@gmail.com
	a.wrote(href="mailto:looksgreat.studio@gmail.com") Написать
	.color_social
		ul
			- var list_tags = ["behance", "dribbble", "facebook", "instagram"]
				for item, i in list_tags 
					li.tag_item(data-aos="fade-up" data-aos-delay=i*50+200)
						a(class=item, href="#") #{item}