.filter-wrapper
	.container
		.filter
			ul
				- var list_tags = ["latest", "identity", "posters", "packing", "catalog", "logo", "WEB", "cards"]
					for item, i in list_tags 
						li.tag_item(data-aos="fade-up" data-aos-delay=i*50+200)
							a(href="#") #{item}