.form-wrapper
	.container
		.form
			h2(data-aos="fade-up") Мы перезвоним
			form(action='', method='')
				fieldset.input_field(data-aos="fade-up")
					input.phone(type="phone", name="phone",autocomplete="off",placeholder="+380 (__) __ __ ___")
				fieldset.button_field(data-aos="fade-up")
					button(type="submit") Связаться


