.next_project-block
	.container
		.next_project-wrapper
			.tags
				h2(data-aos="fade-up") Теги
				ul.tags_projects
					- var list_tags = ["Брендинг", "WEB Дизайн", "Все работы"]
						for item, i in list_tags 
							li.tag_item(data-aos="fade-up", data-aos-delay=i*50+200)
								a(href="#").nav__link #{item}
			.next_wrp
				h2(data-aos="fade-up") Следующий проект
				a.next_project(href="", data-aos="fade-right")
					.next_project-info 
						span.name Projetc Name
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.
						span.see Посмотреть
							i.fal.fa-angle-right
					.next_project_image(data-aos="fade-left")
						figure
							img(src="../img/project1.jpg", alt="")
						span.see Посмотреть
							i.fal.fa-angle-right