-var projects_list = [{img:'../img/project1.jpg',name:'BAU Comfort', description:'"Будівельна компанія з німецьким характером"'}, {img:'../img/project2.jpg',name:'Vetiv', description:'"Когда все сделано правильно"'}, {img:'../img/project3.jpg',name:'Височанка', description:'"Хлібопекарня калуська"'}, {img:'../img/project4.jpg',name:'Things for life', description:'"Когда все сделано правильно"'}, {img:'../img/project5.jpg',name:'Alekom', description:'"Education Abroad"'}, {img:'../img/project6.jpg',name:'Peanut', description:'"Made by squirell"'}, {img:'../img/project7.jpg',name:'Intensys', description:'"IT Addiction"'}, {img:'../img/project8.jpg',name:'Franko Smart House', description:'"Житловий комплекс"'},]
mixin add_project(project)
	.project(data-aos="fade-up") 
		a(href="")
			figure
				img.shadow(src=project.img)
			h3= project.name
			p= project.description

.projects-wrapper
	.container
		.projects
			each item in projects_list
				+add_project(item)