.tags-wrapper
	.container
		.tags
			h2(data-aos="fade-up") Теги
			ul.tags_projects(data-aos="fade-up")
				- var list_tags = ["Брендинг", "Другое", "WEB Дизайн"]
					for item, i in list_tags 
						li.tag_item
							a(href="#").nav__link #{item}
			a(href="#", data-aos="fade-up").all_projects Все работы