.workers-wrapper
	.container
		.workers
			.worker
				.number(data-aos="fade-up", data-aos-delay="400")
					span 
						p 01
				.img_wrapper(data-aos="fade-up")
					figure
						img(src="../img/pavel.jpg", alt="")
				.worker_info(data-aos="fade-up")
					h3 Павел 
						br
						| Пранничук
					p CEO
					p Chief designer
					p Kiev
			.worker
				.number(data-aos="fade-up", data-aos-delay="400")
					span 
						p 02
				.img_wrapper(data-aos="fade-up")
					figure
						img(src="../img/dima.jpg", alt="")
				.worker_info(data-aos="fade-up")
					h3 Дима 
						br
						| Сабо
					p Advertising and management
					p New York
			.worker
				.number(data-aos="fade-up", data-aos-delay="400")
					span 
						p 03
				.img_wrapper(data-aos="fade-up")
					figure
				.worker_info(data-aos="fade-up")
					h3 Павел 
						br
						| Пранничук
					p Lorem ipsum dolor sit amet, consectetuer.Cum sociis natoque penatibus et magnis montes,nascetur ridiculus mus.