
<script src="../libs/jquery-3.2.1.min.js"></script>
<script src="../libs/slick.min.js"></script>
<script src="../libs/jquery.fancybox.min.js"></script>
<script src="../libs/jquery.maskedinput.min.js"></script>
<script src="../libs/tilt.jquery.min.js"></script>
<script src="../libs/typed.min.js"></script>
<script src="../libs/clipboard.min.js"></script>
<script src="../libs/aos.js"></script>
<script src="../libs/nanobar.min.js"></script>
<script src="../js/scripts.min.js"></script>