
<footer class="footer">
  <div class="container">
    <div class="footer_info">
      <div class="footer_copyright" data-aos="fade-up">Looksgreat / 2018. All right <br> is saved.</div>
      <div class="footer_navigation" data-aos="fade-up">
        <div class="navigation_menu">
          <ul>
            <li class="nav_item"><a class="nav__link" href="#">Работы</a></li>
            <li class="nav_item"><a class="nav__link" href="#">О студии</a></li>
            <li class="nav_item"><a class="nav__link" href="#">Контакты</a></li>
          </ul>
        </div><a class="lang" href="#">EN</a>
      </div>
    </div>
  </div>
</footer>