
<div class="project_module-wrapper">
  <div class="container">
    <div class="project_module">
      <h2 data-aos="fade-up" data-aos-delay="0">BAU Comfort</h2>
      <p class="short half_margin" data-aos="fade-up" data-aos-delay="100">Історія створення бренду.</p><span class="tags_page one_col half_margin" data-aos="fade-left" data-aos-delay="200">#Brand story</span>
      <div class="long_image" data-aos="fade-up" data-aos-delay="100">
        <figure class="figure_full"><img src="../img/bau_banner.png" alt=""/></figure>
      </div>
      <h3 data-aos="fade-up" data-aos-delay="0">Задача</h3>
      <p class="mini_bottom_margin" data-aos="fade-up" data-aos-delay="100">Полягала в створені дизайну для об’єкта впізнання якого, було б не складним для<br/>любої віковоі і цільової аудиторії, який в свою чергу повинен бути сучасним,<br/>а також нести елемнти статусності та конкурентосмпроможності.</p>
      <blockquote data-aos="fade-right" data-aos-delay="0">
        <h4>« Як ми з нею впорались »</h4>
      </blockquote>
      <p class="mini_top_margin" data-aos="fade-up" data-aos-delay="100"><span>Враховуючи перераховані вказівки, впершу чергу я керувався основним правилом, яке об’єднувало всі побажання та служило ціллю в створенні бренду -  простотою. Бренд повинен бути простим і зрозумілим для кожного.</span><span>За основу створення знаку взято символічне зображене корони та веж-будинків.<br/>У такому поєднанні стилізовано та поєднано два елементи різні за своєю суттю, але в той же час вгадується прихований сенс логотипу. Завдяки мінімалістичному компонуванню вдалося створити стійку асоціацію логотипу з будівельною компанією. Чіткість та простота бренду відтворює німецький характер, відповідає напрямку сучасного дизайну. Три складові логотипу також символічно розглядаються як троє засновників компанії, які разом утворюють єдине ціле.</span></p><span class="tags_page two_col orange no_top_margin" data-aos="fade-left" data-aos-delay="200">#Idea</span>
      <div class="short_blocks">
        <div class="block_half">
          <figure data-aos="fade-up" data-aos-delay="0"><img class="absolutely" src="../img/crown.png" alt=""/></figure>
          <h4 data-aos="fade-up" data-aos-delay="100">Корона</h4>
          <p data-aos="fade-up" data-aos-delay="150">Символ лідерства, статусності<br/>і цілеспрямованості</p>
        </div>
        <div class="block_half">
          <figure data-aos="fade-up" data-aos-delay="0"><img src="../img/houses.jpg" alt=""/></figure>
          <h4 data-aos="fade-up" data-aos-delay="100">Житлові будинки</h4>
          <p data-aos="fade-up" data-aos-delay="150">Доносить просту суть<br/>до споживача.</p>
        </div>
      </div>
      <h3 data-aos="fade-up" data-aos-delay="0">Знак та логотип</h3>
      <p data-aos="fade-up" data-aos-delay="100">Стилізований знак, в якому об’єднані візуальні елементи 2х основних об’єктів стилізаціі.<br/>Знак має геометричні форми корони з<br/>чіткими гострими кутами.</p>
      <div class="long_image" data-aos="fade-up" data-aos-delay="100">
        <figure class="figure_full"><img class="absolutely bau_logo" src="../img/bau_logo.png" alt=""/></figure>
      </div>
      <h3 data-aos="fade-up" data-aos-delay="0">Використання</h3>
      <p data-aos="fade-up" data-aos-delay="100">В прикладах використання айдентики в дизайні рекламної продукції я навів своє бачення<br/>дизайну, який не буде нудним як для компанії, так і для клієнтів.</p>
      <div class="long_image" data-aos="fade-up" data-aos-delay="100">
        <figure class="figure_full_long"><img src="" alt=""/></figure>
      </div>
    </div>
  </div>
</div>