
<div class="contacts_banner-wrapper">
  <div class="container">
    <div class="contacts_banner">
      <figure data-aos="fade-up" data-aos-delay="200"><img src="../img/looksgreat.jpg" srcset="../img/looksgreat2x.jpg 2x" alt=""/></figure>
    </div>
  </div>
</div>