
<div class="next_project-block">
  <div class="container">
    <div class="next_project-wrapper">
      <div class="tags">
        <h2 data-aos="fade-up">Теги</h2>
        <ul class="tags_projects">
          <li class="tag_item" data-aos="fade-up" data-aos-delay="200"><a class="nav__link" href="#">Брендинг</a></li>
          <li class="tag_item" data-aos="fade-up" data-aos-delay="250"><a class="nav__link" href="#">WEB Дизайн</a></li>
          <li class="tag_item" data-aos="fade-up" data-aos-delay="300"><a class="nav__link" href="#">Все работы</a></li>
        </ul>
      </div>
      <div class="next_wrp">
        <h2 data-aos="fade-up">Следующий проект</h2><a class="next_project" href="" data-aos="fade-right">
          <div class="next_project-info"> <span class="name">Projetc Name</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</p><span class="see">Посмотреть<i class="fal fa-angle-right"></i></span>
          </div>
          <div class="next_project_image" data-aos="fade-left">
            <figure><img src="../img/project1.jpg" alt=""/></figure><span class="see">Посмотреть<i class="fal fa-angle-right"></i></span>
          </div></a>
      </div>
    </div>
  </div>
</div>