
<div class="projects-wrapper">
  <div class="container">
    <div class="projects">
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project1.jpg"/></figure>
          <h3>BAU Comfort</h3>
          <p>&quot;Будівельна компанія з німецьким характером&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project2.jpg"/></figure>
          <h3>Vetiv</h3>
          <p>&quot;Когда все сделано правильно&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project3.jpg"/></figure>
          <h3>Височанка</h3>
          <p>&quot;Хлібопекарня калуська&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project4.jpg"/></figure>
          <h3>Things for life</h3>
          <p>&quot;Когда все сделано правильно&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project5.jpg"/></figure>
          <h3>Alekom</h3>
          <p>&quot;Education Abroad&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project6.jpg"/></figure>
          <h3>Peanut</h3>
          <p>&quot;Made by squirell&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project7.jpg"/></figure>
          <h3>Intensys</h3>
          <p>&quot;IT Addiction&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project8.jpg"/></figure>
          <h3>Franko Smart House</h3>
          <p>&quot;Житловий комплекс&quot;</p></a></div>
    </div>
  </div>
</div>