footer.footer
	div.container
		div.footer_info
			div.footer_copyright(data-aos="fade-up") Looksgreat / 2018. All right <br> is saved.
			div.footer_navigation(data-aos="fade-up")
				div.navigation_menu
					ul
						- var navs = ["Работы", "О студии", "Контакты"]
							for item, i in navs 
								li.nav_item
									a(href="#").nav__link #{item}
				a(class='lang', href='#') EN