script(src="../libs/jquery-3.2.1.min.js")
script(src="../libs/slick.min.js")
script(src="../libs/jquery.fancybox.min.js")
script(src="../libs/jquery.maskedinput.min.js")
script(src="../libs/tilt.jquery.min.js")
script(src="../libs/typed.min.js")
script(src="../libs/clipboard.min.js")
script(src="../libs/aos.js")
script(src="../libs/nanobar.min.js")
script(src="../js/scripts.min.js")