div.container
	div.header_info
		div.brand
			a(href="#", data-aos="fade-up").logo
				include ../../img/logo.svg
			a.short_header_logo
				include ../../img/logo_short.svg
		div.header_navigation(data-aos="fade-up")
			div.navigation_menu
				ul
					- var navs = ["Работы", "О студии", "Контакты"]
						for item, i in navs 
							li.nav_item
								a(href="#").nav__link #{item}
				div.mobile_langs
					ul
						li
							a(href='#') EN
						li
							a(href='#') RU
			a(class='lang lang_desktop', href='#') EN
		button.mobile_menu_button
			span
						

					