title= "Looksgreat"
meta(charset = "utf-8")
meta(name = "keywords", content = "")
meta(name = "description", content = "")
meta(http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1")
meta(name = "viewport", content = "width=device-width, initial-scale=1")
link(href = "../img/favicon.ico" rel="icon" type="image/x-icon")
link(href = "../css/fontawesome-all.min.css", rel = "stylesheet")
link(href = "../css/jquery.fancybox.min.css", rel = "stylesheet")
link(href = "../css/slick.css", rel = "stylesheet")
link(href = "../css/aos.css", rel = "stylesheet")
link(href = "../css/main.css", rel = "stylesheet")