@font-face {
    font-family: 'Helvetica Neue';
    src: url('hinted-HelveticaNeue-UltraLight.eot');
    src: local('Helvetica Neue UltraLight'), local('HelveticaNeue-UltraLight'),
        url('hinted-HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('hinted-HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('hinted-HelveticaNeue-UltraLight.woff') format('woff'),
        url('hinted-HelveticaNeue-UltraLight.ttf') format('truetype'),
        url('hinted-HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

