.all_info-wrapper
	div.container
		div.info-wrapper
			div.main_info
				h1(data-aos="fade-up" data-aos-delay="150")  
					span.write_text 
				p(data-aos="fade-up" data-aos-delay="300") Простота - это залог успеха. Чтобы достичь простот нужно, изучить все глубины сложности. Руководствуясь этим правилом в дизайне можно достичь невероятных результатов
			div.slider_counter
				span.pagingInfo

		include home_slider.pug

		include ../modules/projects.pug

		include ../modules/tags.pug

		include ../modules/form.pug

		include ../modules/contacts_mobile.pug
