div.names_slider-wrapper(data-aos="fade-up" data-aos-delay="350")
	.names_slider
		.item
			a( href="") Alekom
		.item
			a( href="") Alekom2
		.item
			a( href="") Alekom3
		.item
			a( href="") Alekom4
div.slider-wrapper(data-aos="fade-up" data-aos-delay="500")
	div.slider
		.item
			a( href="")
				img(src="../img/slide.jpg", alt="slide1")
				span Показать
		.item
			a( href="")
				img(src="../img/slide2.jpg", alt="slide2")
				span Показать
		.item
			a( href="")
				img(src="../img/slide.jpg", alt="slide3")
				span Показать
		.item
			a( href="")
				img(src="../img/slide2.jpg", alt="slide4")
				span Показать
	.buttons-wrapper
		button.slick_prev
			i.fal.fa-angle-left(aria-hidden="true")
		button.slick_next
			i.fal.fa-angle-right(aria-hidden="true")
	a.scroll-down_mobile.go(href="")
		i.fal.fa-angle-down(aria-hidden="true")
		span Scroll down
