button.menu_button
	span
.share_menu
	div.left_menu

		ul
			- var navs = ["Работы", "О студии", "Контакты"]
				for item, i in navs 
					li.nav_item
						a(href="#").nav__link #{item}
		.logo
			a(href="")
				include ../../img/logo_short.svg
	.share_button(data-aos="fade-right" data-aos-delay="50")
		a(href="javascript:;" data-fancybox data-src="#trueModal" data-modal="true") Share
	.behance_share(data-aos="fade-right" data-aos-delay="150")
		a(href="#")
			i.fab.fa-behance
	.logo_share(data-aos="fade-right" data-aos-delay="250")
		a(href="#")
			include ../../img/logo.svg
#trueModal.fancybox-content(style="display:none;")
	button.close(data-fancybox-close) 
		i.fal.fa-times
	.modal_content
		.content_wrapper
			button.facebook
				i.fab.fa-facebook-f
				span Facebook
			button.twitter
				i.fab.fa-twitter
				span Facebook
			.copy_block
				input#copy_field(type="text" value="https://youtu.be/j_npZfZmRiM")
				button#copy_button(data-clipboard-target="#copy_field") Скопировать