
<div class="all_info-wrapper">
  <div class="container">
    <div class="info-wrapper">
      <div class="main_info">
        <h1 data-aos="fade-up" data-aos-delay="150"> <span class="write_text"> </span></h1>
        <p data-aos="fade-up" data-aos-delay="300">Простота - это залог успеха. Чтобы достичь простот нужно, изучить все глубины сложности. Руководствуясь этим правилом в дизайне можно достичь невероятных результатов</p>
      </div>
      <div class="slider_counter"><span class="pagingInfo"></span></div>
    </div>
    <div class="names_slider-wrapper" data-aos="fade-up" data-aos-delay="350">
      <div class="names_slider">
        <div class="item"><a href="">Alekom</a></div>
        <div class="item"><a href="">Alekom2</a></div>
        <div class="item"><a href="">Alekom3</a></div>
        <div class="item"><a href="">Alekom4</a></div>
      </div>
    </div>
    <div class="slider-wrapper" data-aos="fade-up" data-aos-delay="500">
      <div class="slider">
        <div class="item"><a href=""><img src="../img/slide.jpg" alt="slide1"/><span>Показать</span></a></div>
        <div class="item"><a href=""><img src="../img/slide2.jpg" alt="slide2"/><span>Показать</span></a></div>
        <div class="item"><a href=""><img src="../img/slide.jpg" alt="slide3"/><span>Показать</span></a></div>
        <div class="item"><a href=""><img src="../img/slide2.jpg" alt="slide4"/><span>Показать</span></a></div>
      </div>
      <div class="buttons-wrapper">
        <button class="slick_prev"><i class="fal fa-angle-left" aria-hidden="true"></i></button>
        <button class="slick_next"><i class="fal fa-angle-right" aria-hidden="true"></i></button>
      </div><a class="scroll-down_mobile go" href=""><i class="fal fa-angle-down" aria-hidden="true"></i><span>Scroll down</span></a>
    </div>
    <div class="projects-wrapper">
      <div class="container">
        <div class="projects">
              <div class="project" data-aos="fade-up"> <a href="">
                  <figure><img class="shadow" src="../img/project1.jpg"/></figure>
                  <h3>BAU Comfort</h3>
                  <p>&quot;Будівельна компанія з німецьким характером&quot;</p></a></div>
              <div class="project" data-aos="fade-up"> <a href="">
                  <figure><img class="shadow" src="../img/project2.jpg"/></figure>
                  <h3>Vetiv</h3>
                  <p>&quot;Когда все сделано правильно&quot;</p></a></div>
              <div class="project" data-aos="fade-up"> <a href="">
                  <figure><img class="shadow" src="../img/project3.jpg"/></figure>
                  <h3>Височанка</h3>
                  <p>&quot;Хлібопекарня калуська&quot;</p></a></div>
              <div class="project" data-aos="fade-up"> <a href="">
                  <figure><img class="shadow" src="../img/project4.jpg"/></figure>
                  <h3>Things for life</h3>
                  <p>&quot;Когда все сделано правильно&quot;</p></a></div>
              <div class="project" data-aos="fade-up"> <a href="">
                  <figure><img class="shadow" src="../img/project5.jpg"/></figure>
                  <h3>Alekom</h3>
                  <p>&quot;Education Abroad&quot;</p></a></div>
              <div class="project" data-aos="fade-up"> <a href="">
                  <figure><img class="shadow" src="../img/project6.jpg"/></figure>
                  <h3>Peanut</h3>
                  <p>&quot;Made by squirell&quot;</p></a></div>
              <div class="project" data-aos="fade-up"> <a href="">
                  <figure><img class="shadow" src="../img/project7.jpg"/></figure>
                  <h3>Intensys</h3>
                  <p>&quot;IT Addiction&quot;</p></a></div>
              <div class="project" data-aos="fade-up"> <a href="">
                  <figure><img class="shadow" src="../img/project8.jpg"/></figure>
                  <h3>Franko Smart House</h3>
                  <p>&quot;Житловий комплекс&quot;</p></a></div>
        </div>
      </div>
    </div>
    <div class="tags-wrapper">
      <div class="container">
        <div class="tags">
          <h2 data-aos="fade-up">Теги</h2>
          <ul class="tags_projects" data-aos="fade-up">
            <li class="tag_item"><a class="nav__link" href="#">Брендинг</a></li>
            <li class="tag_item"><a class="nav__link" href="#">Другое</a></li>
            <li class="tag_item"><a class="nav__link" href="#">WEB Дизайн</a></li>
          </ul><a class="all_projects" href="#" data-aos="fade-up">Все работы</a>
        </div>
      </div>
    </div>
    <div class="form-wrapper">
      <div class="container">
        <div class="form">
          <h2 data-aos="fade-up">Мы перезвоним</h2>
          <form action="" method="">
            <fieldset class="input_field" data-aos="fade-up">
              <input class="phone" type="phone" name="phone" autocomplete="off" placeholder="+380 (__) __ __ ___"/>
            </fieldset>
            <fieldset class="button_field" data-aos="fade-up">
              <button type="submit">Связаться</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="connect_us mobile">
      <h2 data-aos="fade-up">Свяжитесь с нами</h2><a class="number" href="tel:+380930530831">+38 (093) 05 30 831</a><a class="email" href="mailto:looksgreat.studio@gmail.com">looksgreat.studio@gmail.com</a><a class="wrote" href="mailto:looksgreat.studio@gmail.com">Написать</a>
      <div class="color_social">
        <ul>
          <li class="tag_item" data-aos="fade-up" data-aos-delay="200"><a class="behance" href="#">behance</a></li>
          <li class="tag_item" data-aos="fade-up" data-aos-delay="250"><a class="dribbble" href="#">dribbble</a></li>
          <li class="tag_item" data-aos="fade-up" data-aos-delay="300"><a class="facebook" href="#">facebook</a></li>
          <li class="tag_item" data-aos="fade-up" data-aos-delay="350"><a class="instagram" href="#">instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>