
<div class="names_slider-wrapper" data-aos="fade-up" data-aos-delay="350">
  <div class="names_slider">
    <div class="item"><a href="">Alekom</a></div>
    <div class="item"><a href="">Alekom2</a></div>
    <div class="item"><a href="">Alekom3</a></div>
    <div class="item"><a href="">Alekom4</a></div>
  </div>
</div>
<div class="slider-wrapper" data-aos="fade-up" data-aos-delay="500">
  <div class="slider">
    <div class="item"><a href=""><img src="../img/slide.jpg" alt="slide1"/><span>Показать</span></a></div>
    <div class="item"><a href=""><img src="../img/slide2.jpg" alt="slide2"/><span>Показать</span></a></div>
    <div class="item"><a href=""><img src="../img/slide.jpg" alt="slide3"/><span>Показать</span></a></div>
    <div class="item"><a href=""><img src="../img/slide2.jpg" alt="slide4"/><span>Показать</span></a></div>
  </div>
  <div class="buttons-wrapper">
    <button class="slick_prev"><i class="fal fa-angle-left" aria-hidden="true"></i></button>
    <button class="slick_next"><i class="fal fa-angle-right" aria-hidden="true"></i></button>
  </div><a class="scroll-down_mobile go" href=""><i class="fal fa-angle-down" aria-hidden="true"></i><span>Scroll down</span></a>
</div>